package main

import (
  	"io"
	"fmt"
	"os"

	{{- range .Imports }}
		"{{ . }}"
	{{- end}}
	"ariga.io/atlas-provider-gorm/gormschema"
	_ "ariga.io/atlas-go-sdk/recordriver"
)

func main() {
	stmts, err := gormschema.New(
	        "{{ .Dialect }}",
	        {{if .CreateConstraintsAfterTableCreation}}
	        gormschema.WithCreateConstraintsAfterCreateTable(true),
	        {{end}}
	    ).Load(
		{{- range .Models }}
			&{{ .PkgName }}.{{ .Name }}{},
		{{- end }}
	)
	if err != nil {
		fmt.Fprintf(os.Stderr, "failed to load gorm schema: %v\n", err)
		os.Exit(1)
	}
	io.WriteString(os.Stdout, stmts)
}
