package main

import (
	"fmt"

	{{- range .Imports }}
		"{{ . }}"
	{{- end}}
	"ariga.io/atlas-provider-gorm/internal/gormschema"
	_ "ariga.io/atlas-provider-gorm/internal/recordriver"
)

func main() {
	stmts, err := gormschema.New("{{ .Dialect }}").Load(
		{{- range .Models }}
			&{{ .PkgName }}.{{ .Name }}{},
		{{- end }}
	)
	if err != nil {
		panic(err)
	}
	io.WriteString(os.Stdout, stmts)
}
